/* VARIABLES */

:root {
    --menu_bg-clr: #888;
    --font: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: var(--font);
}

canvas {
    display: block;
}

.mainBody {
    position: absolute;
    top: 60px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    padding-left: 10px;
}

.mHeader {
    text-align: center;
}

.menuButton {
    /* position: relative;
    top: 10;
    left: 10%; */
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.normalFont {
    font-family: var(--font);
}

.menuBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 50px;
    height:auto;
    background-color: var(--menu_bg-clr);
}

@media all and (min-width: 700px) {
    .mainBody {
        width: 100%;
    }
    .innerBody {
        display: table;
        margin: 0 auto;
        width:auto;
        height:auto;
    }
}