/* VARIABLES */

:root {
    --menu_bg-clr: #888;
    --font: Arial, sans-serif;
    --menuButton_colour: #888;
    --downloadButtonColour: rgb(0, 190, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: var(--font);
    font-size: 20px;
}

canvas {
    display: block;
}

.mainBody {
    position: absolute;
    top: 50px;
    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.mHeader {
    text-align: center;
}

.menuButton {
    /* position: relative;
    top: 10;
    left: 10%; */
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 10px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}

.downloadButton {
    background-color: var(--downloadButtonColour);
    padding: 10px;
}

button {
    font-size: 20px;
    background-color: var(--menuButton_colour);
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    border: none;
    border-radius: 4px;
}

button:hover {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

.normalFont {
    font-family: var(--font);
}

.menuBar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 50px;
    height:auto;
    background-color: var(--menu_bg-clr);
}

@media all and (min-width: 700px) {
    .mainBody {
        width: 100%;
    }
    .innerBody {
        display: table;
        margin: 0 auto;
        width:auto;
        height:auto;
    }

    padding: 10px;

    button {
        font-size: 40px;
    }

    body {
        font-size: 40px;
    }
    
}